.card{
    text-align: center;
    transform: scale(70%);
    display: inline-block;
    margin: auto;
    margin-top: -50px;
}

.card-link-comprar{
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: rgb(94, 135, 202255);
    border-radius: 15px;   
}

